* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

input[type="date_picker"] {
    display: flex;
    height: 20px;
    /*font-size: 15px;*/
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.48);
    transition: 0.7s;
}
input[type="date_picker"]:focus, .inputTime:focus {
    border-bottom: 1px solid rgb(0, 0, 255);
}

.datepicker {
    z-index: 1;
    padding: 5px;
    margin-top: 5px;
    position: absolute;
    width: 250px;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 3px;
    display: none;
}
.calendarMonth {
    padding: 15px 5px 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 175px;
    background: #ffffff;
    display: block;
}

.dateInputWrapper {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#month {
    margin-right: 10px;
    border-radius: 5px;
    height: 25px;
    background: #ffffff;
}

#monthCalendarMonth {
    margin-right: 10px;
    width: 100px;
    height: 25px;
    background: #ffffff;
}

#year {
    border-radius: 5px;
    padding: 2px 4px;
    width: 70px;
    height: 25px;
}

#yearCalendarMonth {
    border-radius: 5px;
    padding: 2px 4px;
    width: 70px;
    height: 25px;
}

.daysOfWeek {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    padding-bottom: 10px;
    padding-top: 4px;
}

.dayOfWeek {
    width: calc(100%/7);
    text-align: center;
}

.daysOfMonth {
    padding-top: 5px;
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
}


.rowDaysOfMonth {
    width: 100%;
    height: calc(100%/5);
    display: flex;
    justify-content: space-between;
}

.dayOfMonth{
    width: calc(100%/7);
    height: 100%;
    font-size: 1.2em;
    text-align: center;
}

.dayOfMonth.enabled:hover {
    cursor: pointer;
}

.daysOfMonth.showHover .rowDaysOfMonth .dayOfMonth.enabled:hover {
    background: rgba(0, 0, 255, 0.55);
    border-radius: 3px;
}

.today {
    color: blue;
    /*background: rgba(0, 0, 0, 0.15);*/
    border-radius: 3px;
}

.weekend{
    color: red;
}

.selected {
    background: rgba(0, 0, 255, 0.55);
    border-radius: 3px;
}


/************ Step3 *********************/

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px #00004b;
    padding: 35px 13px 7px;
    width: 350px;
    z-index: 2;
}

.outsideDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background: rgba(0, 0, 0, 0.16);
}

.close {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
    transition: 0.5s;
}

.close:hover {
    cursor: pointer;
    color: #c30000;
}

.nameTask {
    margin: 0 5px 15px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.48);
    height: 20px;
    padding: 3px;
    transition: 0.5s;
}
.timeTask {
    display: flex;
    justify-content: space-around;
    width: 95%;
    padding: 4px;
}

.startTimeDatepicker, .endTimeDatepicker {
    width: 85px;
}

.btn {
    margin: 5px;
}


.buttonAddTime {
    height: 30px;
    line-height: 0.75em;
    font-size: 1em;
    display: none;
}
.buttonAddTime:hover {
    cursor: pointer;
}

.timeWrapper {
    display: flex;
    align-content: start;
    height: 20px;
    margin-top: -2px;
}

.inputTimeWrapper {
    position: relative;
}

.inputTime {
    padding-left: 3px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.48);
    height: 20px;
    width: 46px;
    transition: 0.7s;
}

.selectTime {
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 0;
    height: 200px;
    width: 180px;
    border-radius: 4px;
    box-shadow: 0 0 5px black ;
    overflow-y: scroll;
    background: #ffffff;
    display: none;
}

.optionTime {
    font-family: Helvetica sans-serif;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #000;
    padding-left: 10px;
}
.optionTime:hover {
    background: rgba(0, 0, 0, 0.11);
    cursor: pointer;
}

.buttonToday {
    position: absolute;
    top: 5px;
    left: 40px;
    width: 135px;
    height: 30px;
    line-height: 1em;
    transition: 0.5s;
}

.buttonToday:hover {
    cursor: pointer;
}





.errorInput {
    border-color: #c30000;
}
.enterInput {
    border-color: blue;
}

.activeBlock{
    display: inline-block;
}

.activeDialog {
    display: flex;
}

.disabled {
    background: rgba(128, 91, 58, 0.18);
}





















